<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chintansoni.imagepicker_facebook">

    <uses-permission android:name="android.permission.INTERNET" />
    <application android:theme="@style/AppTheme">
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".FacebookAlbumActivity"
            android:theme="@style/NoActionBar" />
    </application>
</manifest>
